.header__profile{
    margin-left: 19px;
    margin-right: 137px;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-self: flex-start;
    align-items: center;    
}
.header__profile::before{
    content:'';
    border-left: 1px solid #ebebf1;
    min-height:80px;
}

@media screen and (min-width:375px) and (max-width:767px){
    .header__profile{
        display: none;
    }
}